<div class="deviseSignIn">

<h2 style="text-align:center;color:#313131;font-weight:bolder;">Sign up</h2>

<hr class="style"><br />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div style="margin-bottom:5px;"><%= f.label :first_name, :class => 'deviseLabel' %><br />
  <%= f.text_field :first_name %></div>

  <div style="margin-bottom:5px;"><%= f.label :last_name, :class => 'deviseLabel' %><br />
  <%= f.text_field :last_name %></div>

  <div style="margin-bottom:5px;"><%= f.label :company, :class => 'deviseLabel' %><br />
  <%= f.text_field :company %></div>

  <div style="margin-bottom:5px;"><%= f.label :phone_number, :class => 'deviseLabel' %><br />
  <%= f.text_field :phone_number %></div>

  <div style="margin-bottom:5px;"><%= f.label :email, :class => 'deviseLabel' %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div style="margin-bottom:5px;"><%= f.label :password, :class => 'deviseLabel' %><br />
  <%= f.password_field :password %></div>

  <div style="margin-bottom:5px;"><%= f.label :password_confirmation, :class => 'deviseLabel' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div style="margin-bottom:5px;"><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>