<div class="welcomeContainer">

<h2 style="text-align:center;margin-bottom:15px !important;">Welcome to the tracking section for Trade Supply.</h2>

<% if current_user.try(:admin?) %>
<div class="searchContainer">
		<div class="searchBox">
			<h3 class="h2Upload">Search by:</h3><p style="text-align: center">Email / Order Number / Delivery Number / Account Code / Company Name</p> <br />
			<%= render :partial => 'urls/search' %>
		</div><!--searchBox-->
</div><!--searchContainer-->

<% else %>


<div class="searchContainer">
	<% if user_signed_in? %>
		<div class="searchBox">
			<h3 class="h2Upload">Search by:</h3><p style="text-align: center">Email / Order Number</p><br />
			<%= render :partial => 'urls/search2' %>
		</div><!--searchBox-->
<% else %>
	<div>
		<h2 style="text-align:center">Please Register / Sign In</h2>
	</div><!--div h2-->
</div><!--searchContainer-->
<% end %>

<% end %>





<% if current_user.try(:admin?) %>
<div id="uploadContainer">

	<div id="uploadBox">
		<h2 class="h2Upload">File Upload</h2>
		<%= form_tag import_urls_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Submit" %>
		<% end %>
	</div>

</div><!--uploadContainer-->
<% end %><!--if current admin-->

</div><!--welcomeContainer-->


<script type="text/javascript">
jQuery(function(){
        $("input[value='Search']" ).click(function(){
        $(".error").hide();
        var hasError = false;
        var searchReg = /^(.*]{0,16})$/;
        var searchVal = $("#q").val();
        if(searchVal == '') {
            $("#q").after('<span class="error">Please enter a search term.</span>');
            hasError = true;
        } else if(!searchReg.test(searchVal)) {
            $("q").after('<span class="error">Enter valid text.</span>');
            hasError = true;
        }
        if(hasError == true) {return false;}
    });
});
</script>